<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />

<div id="experiment">
  <div class="cube">
    <div class="topFace intern">
      <div>
        <h1>{{ name }}</h1>
        <h3 class="intern-text">INTERN</h3>
        <h3>ID: {{ id }}</h3>
      </div>
    </div>
    <div class="leftFace">
      <h1>Email:</h1>
      <h3><a href="mailto:{{ email }}">{{ email }}</a></h3>
    </div>
    <div class="rightFace">
      <h1>School:</h1>
      <h2>
        {{ school }}
      </h2>
    </div>
  </div>
</div>
