<h1 class="team">TEAM</h1>

<br /><br /><br /><br /><br /><br /><br /><br />

<div id="experiment">
  <div class="cube">
    <div class="topFace manager">
      <div>
        <h1>{{ name }}</h1>
        <h3 class="manager-text">MANAGER</h3>
        <h3>ID: {{ id }}</h3>
      </div>
    </div>
    <div class="leftFace">
      <h1>Email:</h1>
      <h3><a href="mailto:{{ email }}">{{ email }}</a></h3>
    </div>
    <div class="rightFace">
      <h1>Office Number:</h1>
      <h2>
        {{ officeNumber }}
      </h2>
    </div>
  </div>
</div>
